@(artistForm: play.data.Form[Artist])


@main("Create Account") {
    <h1>Account creation form</h1>
    <div class="row">
        @helper.form(action=routes.ArtistController.store,'_class ->"col s12") {
                <div class="row">
                    <div class="input-field col s12">
                        @helper.inputText(artistForm("username"),'required -> "required",'_class -> "validate")
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        @helper.inputPassword(artistForm("password"),'required -> "required",'_class -> "validate")
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        @helper.inputText(artistForm("forename"), '_label -> "forename", 'required -> "required",'_class -> "validate")
                    </div>
                    <div class="input-field col s6">
                        @helper.inputText(artistForm("surname"), '_label -> "surname", 'required -> "required",'_class -> "validate")
                    </div>
                </div>
                <div class="row">
                    <a class="waves-effect waves-light btn red" href="@controllers.routes.ArtistController.index">Back</a>
                    <input type="submit" class="btn green" value="Sign in">
                </div>
            }
    </div>
}