@(artistForm: play.data.Form[Artist])(artist: models.Artist)


@main("Update Artist") {
<h2>Account update form for @artist.getUsername()</h2>
<div class="row">
    @helper.form(action=routes.ArtistController.update(artist.getId())) {
    <div class="row">
        <div class="input-field col s12">
            @helper.inputText(artistForm("username"),'required -> "required",'_class -> "validate")
        </div>
    </div>
    <div class="row">
        <div class="input-field col s12">
            @helper.inputPassword(artistForm("password"),'required -> "required",'_class -> "validate")
        </div>
    </div>
    <div class="row">
        <div class="input-field col s6">
            @helper.inputText(artistForm("forename"), '_label -> "forename", 'required -> "required",'_class -> "validate")
        </div>
        <div class="input-field col s6">
            @helper.inputText(artistForm("surname"), '_label -> "surname", 'required -> "required",'_class -> "validate")
        </div>
    </div>
    <div class="row">
        <a class="waves-effect waves-light btn red" href="@controllers.routes.ArtistController.show(artist.getId())">Back</a>
        <input type="submit" class="btn green" value="Update">
    </div>
    }
</div>
}
