@(artist: models.Artist)
@display(song :models.Song)={
    @song.getTitle()
    <br/>
    <audio id="@song.getId()" src="@song.getUri()" controls>
        Your browser does not support audio.
    </audio>
    @helper.form(action=controllers.routes.SongController.destroy(song.getId())){
        <input type="submit" value="Delete this song">
    }
}
@main("Artist Info"){
    <div class="row">
        <div class="col s12 m6">
            <div class="card white">
                <div class="card-content">
                    <span class="card-title"><strong>@artist.getForename() @artist.getSurname()'s info</strong></span>
                    <strong>Artist username:</strong> @artist.getUsername()
                    <br/>
                    <strong>Songs:</strong>
                    @if(!artist.getSongs().isEmpty) {
                    <ul>
                        @for(song <- artist.getSongs()) {
                        <li>
                            @display(song)
                        </li>
                        }
                    </ul>
                    }else{
                    No songs for this artist
                    }
                </div>
                <div class="card-action green">
                    <a class="card-action-white" href="@controllers.routes.SongController.create(artist.getId())">Upload song</a>
                    <a class="card-action-white" href="@controllers.routes.ArtistController.edit(artist.getId())">Edit artist</a>
                    <br/>
                    <a class="card-action-red" href="@controllers.routes.ArtistController.index">Back</a>
                    <a class="card-action-red" href="@controllers.routes.ArtistController.edit(artist.getId())">
                        @helper.form(action=controllers.routes.ArtistController.delete(artist.getId()),'class -> "card-action-form"){
                        <input style="background:transparent; border:0px;" type="submit" value="DELETE ARTIST">
                        }
                    </a>
                </div>
            </div>
        </div>
    </div>

}
