@(artist: models.Artist)
@display(song :models.Song)={
    @song.getTitle()
    <br/>
    <audio id="@song.getId()" src="@song.getUri()" controls>
        Your browser does not support audio.
    </audio>
    @helper.form(action=controllers.routes.SongController.destroy(song.getId())){
        <input type="submit" value="Delete this song">
    }
}
@main("Artist Info"){
    Artist username: <strong>@artist.getUsername()</strong>
    <br/><br/>
    Artist full name: <strong>@artist.getForename() @artist.getSurname()</strong>
    <br/><br/>
    @helper.form(action=controllers.routes.ArtistController.edit(artist.getId())){
    <input type="submit" value="Edit artist">
    }
    <br>
    @helper.form(action=controllers.routes.SongController.create(artist.getId())){
    <input type="submit" value="Upload song">
    }
    <br/>
    @helper.form(action=controllers.routes.ArtistController.delete(artist.getId())){
    <input type="submit" value="Delete artist">
    }
    <br/>
    <strong>Songs:</strong>
    @if(!artist.getSongs().isEmpty) {
    <ul>
        @for(song <- artist.getSongs()) {
        <li>
            @display(song)
        </li>
        }
    </ul>
    }else{
    No songs for this artist
    }
}
